.container {
  max-width: 1440px;
  height: 100vh;
  margin: auto;
  display: flex;

  .sidebar {
    min-width: 350px;
    width: 350px;
    background: #022436;
  }

  .conversation {
    width: calc(100% - 300px);
    position: relative;
    text-align: center;
    z-index: 1;
    padding: 10px;
    overflow: hidden;

    ::after {
      position: absolute;
      content: '';
      top: 0;
      left: 0;
      bottom: 0;
      width: 100%;
      background: url(../assets/bg.png);
      opacity: 0.04;
      z-index: -1;
    }
  }

  @media (max-width: 600px) {
    .sidebar {
      position: absolute;
      top: 0%;
      bottom: 0%;
      left: 0;
      right: 0;
      width: 100%;
      z-index: 100;
    }

    .sidebar_small_style {
      display: none;
    }

    .conversation_small_style {
      display: block;
      width: 100%;
    }
  }
}
