.container {
  max-width: 1440px;
  height: 100vh;
  margin: auto;
  display: flex;

  .conversation {
    width: calc(100% - 300px);
    position: relative;
    text-align: center;
    z-index: 1;

    ::after {
      position: absolute;
      content: '';
      top: 0;
      left: 0;
      bottom: 0;
      width: 100%;
      background: url(../assets/bg.png);
      opacity: 0.04;
      z-index: -1;
    }
  }
}
