@import '../styles/variables.scss';

.input_group {
  display: flex;
  align-items: center;
  background: azure;
  border-radius: 5px;
  padding: 5px 7px 5px 10px;
  border: 2px solid azure;
  position: relative;
  transition: border 0.5s ease;

  svg {
    font-size: 20px;
    color: darkslategrey;
  }

  input {
    padding: 7px 10px;
    width: 100%;
    border: none;
    font-size: 16px;
    font-weight: 550;
    outline: none;
    background: azure;

    &::placeholder {
      font-size: 15px;
      color: azure;
      font-weight: 550;
      transition: all ease 0.3s;
    }
  }

  .hidePassword,
  .showPassword {
    cursor: pointer;
  }

  label {
    position: absolute;
    left: 40px;
    transform: translateY(0);
    font-size: 16px;
    font-weight: 550;
    color: gray;
    cursor: text;
    transition: transform 300ms;
  }

  &:focus-within,
  input:not(:placeholder-shown) ~ {
    border: 2px solid $primary-color;

    label {
      transition: transform 300ms, background 500ms ease-in;
      transform: translateY(-94%) scale(0.7);
      transform-origin: left;
      background: $bg-color;
      padding: 2px 15px;
      border-radius: 20px;
      border: 1px solid $primary-color;
      color: azure;
      left: 30px;
    }

    input::placeholder {
      color: #aab3bd;
    }
  }
}
