@import '../styles/variables.scss';

.input_container {
  position: relative;

  .input_group {
    display: flex;
    align-items: center;
    background: azure;
    border: 1px solid azure;
    border-radius: 5px;
    overflow: hidden;
    padding: 5px 7px 5px 10px;
    transition: all 0.5s ease;
    border: 2px solid azure;

    svg {
      font-size: 20px;
      color: darkslategrey;
    }

    input {
      padding: 7px 10px;
      width: 100%;
      border: none;
      font-size: 17px;
      font-weight: 550;
      outline: none;
      background: azure;

      &::placeholder {
        color: azure;
        transition: color ease 0.3s;
      }
    }

    .hidePassword,
    .showPassword {
      cursor: pointer;
    }
  }

  .label_in {
    position: absolute;
    color: gray;
    left: 40px;
    top: 15px;
    font-size: 17px;
    font-weight: 550;
    cursor: text;
    transition: transform 300ms;
  }

  &:focus-within {
    .label_in {
      transition: transform 300ms, background 500ms ease-in;
      transform: translateY(-105%) scale(0.7);
      background: $bg-color;
      padding: 2px 20px;
      border-radius: 20px;
      border: 1px solid $primary-color;
      color: azure;
      left: 20px;
    }

    .input_group {
      border: 2px solid $primary-color;
      input {
        &::placeholder {
          color: rgb(136, 167, 167);
          font-weight: 550;
        }
      }
    }
  }
}
