@import '../styles/variables.scss';

.topbar_container {
  display: flex;
  align-items: center;
  gap: 20px;
  background: #022436;
  padding: 10px;
  color: azure;

  .backIcon {
    font-size: 25px;
    cursor: pointer;
  }

  .identity {
    display: flex;
    align-items: center;
    gap: 10px;

    .avatar {
      font-size: 40px;
    }

    div {
      text-align: start;
      h3 {
        display: flex;
        align-items: center;
        gap: 5px;
      }
    }
  }
}
