.wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #111;
  opacity: 0.8;

  .content {
    background: red;
    padding: 20px;
    border-radius: 5px;
  }
}
