@import './variables.scss';

.auth_form {
  padding: 30px;
  width: 400px;
  margin: auto;
  border-radius: 10px;
  box-shadow: 0px 0px 15px lightblue;
  text-align: center;
  color: azure;
  display: flex;
  flex-direction: column;
  gap: 20px;

  .checkbox {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  a {
    color: $primary-color;
    font-size: 17px;
    font-weight: 600;
    text-decoration: underline;

    &:hover {
      text-decoration: none;
    }
  }

  @media (max-width: 425px) {
    box-shadow: none;
  }
}
